.mp-hrt .img-responsive  {
    /* padding: 100px; */
    width: 20%;
    margin: 72px;
}
.mp-hrt .rounded {
    width: 20%;
}
.mp-hrt .pagination {
    margin: 100px;
}

.mp-hrt .container {
    font-family: 'GmarketSansMedium';
}

.mp-hrt .page-link {
    color: #000; 
    background-color: #fff;
    border: 1px solid #ccc; 
}