@charset "UTF-8";
.mp-info .info {
    position: absolute;
    background: #FFEBC9;
border-radius: 20px;
padding-left: 100px;
margin-left: 100px;
left: 200px;
}

.mp-info .info1 {
    position: absolute;
    background: #FFEBC9;
border-radius: 20px;
padding-left: 400px;
margin-left: 100px;
left: 200px;
}

.mp-info .infofont {
    font-family: 'GmarketSansMedium';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #803D3D;
}

.mp-info2 .container {
    font-family: 'GmarketSansMedium';
    border: 3px solid #D6D6D6;
    border-radius: 20px;
    padding: 20px;
}