.tc .cal_result_age {
    display: block;
    overflow: hidden;
    text-align: center;
    margin: 5% auto;
    padding-top: 7px;
}

.tc .age_circle {
    display: inline-block;
    width: 120px;
    height: 120px;
    background: #D9D9D9;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

.tc .age_circle .age_img {
    display: block;
    text-align: center;
    padding-top: 25px;
}

.tc .age_circle .age_img img {
    width: 42%;
}

.tc .age_circle .age_number {
    display: block;
    font-size: 23px;
    color: #803D3D;
    font-weight: 500;
}

.tc .cal_result_age .age_same {
    display: inline-block;
    width: 50px;
}

.tc .cal_result_age .age_same img {
    width: 100%;
    vertical-align: 2px;
    padding-bottom: 5px;
}

.tc .age_lifecycle {
    display: block;
    padding: 2% 0 0 0;
    font-size: 26px;
    color: #803D3D;
    font-weight: 500;
}

.tc .cal_again {
    display: block;
    overflow: hidden;
    height: 50px;
    margin: 20px 36% 20px 36%;
    border-radius: 10px;
    background: #E3B7A0;
    padding: 10px 40px 16px 40px;
}

.tc .cal_again a {
    color: #fff !important;;
    font-size: 20px;
}
