
/* TOOLS CSS */

.tc {
    overflow:hidden;
}

.tc input:-webkit-autofill,
.tc input:-webkit-autofill:hover,
.tc input:-webkit-autofill:focus,
.tc input:-webkit-autofill:active {
    transition: background-color 5000s; 
}


.tc .tools_container {
    float: left;
    text-align: center;
    width: 100%;
    margin: 0px auto 70px auto;
    border: 0px solid #000;
}

.tc .cal_top {
    width: 100%;
    min-height: 255px;
    background-size: 100%;
}

.tc .pr {
    position: relative;
}

.tc .cal_top_box {
    margin: 0px auto;
}

.tc .cal_top_box h3 {
    width: 100%;
    text-align: center;
    color: #E3B7A0;
    font-size: 45px;
    font-weight: 300;
    padding: 50px 0 0 0px;
    letter-spacing: -0.03em;
}

.tc .cal_top_box h3 span {
    color: #803D3D;
    font-size: 45px;
    font-weight: 600;
}

.tc .area {
    max-width: 1200px ! important;
    min-width: 1260px ! important;
    margin: 0px auto;
}

.cal_Tbg {
    width: 100%;
    min-height: 255px;
}

.tc .cal_top_h3_line_c {
    width: 1100px;
    height: 3px;
    background: #D6D6D6;
    text-align: center;
    margin: 30px auto 15px;
}

.tc .cal_menu {   
    top: -40px;
}

.tc .cal_menu, .tc .cal_content {
    width: 800px;
    overflow: hidden;
    margin: 0 auto;
    background: #fff;
    border-radius: 40px;
    box-shadow: 5px 5px 48px rgb(207 207 207 / 65%);
}

.tc .cal_menu_btn li.active {
    background-color: #E3B7A0;
}

.tc .cal_menu_btn li {
    width: 20%;
    /* background-color: #FFEBC9; */
    background-color: #fff;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 0px;
    transition: 0.3s;
    font-size: 20px;
    border-right: 1px solid #f7e8e7;
    box-sizing: border-box;
}

.tc .cal_menu_btn li .cal_icon {
    display: block;
    overflow: hidden;
    text-align: center;
}

.tc .cal_menu_btn li.active a {
    color: #fff;
}

.tc .cal_menu_btn li.active .cal_txt {
    color: #fff;
}

.tc .cal_menu_btn li.inactive:hover {
    background-color: rgba(255, 234, 199, 0.5);
}

.tc .cal_menu_btn li .cal_txt {
    display: block;
    overflow: hidden;
    padding-top: 5px;
    color: #803D3D;
    text-align: center;
    
}

.tc .cal_menu_btn img {
    width: 50px;
    height: 50px;
}

.tc .cal_content {
    top: 0px;
}

.tc .cal_write {
    margin: 3%;
}

.tc .content_write {
    display: block;
    overflow: hidden;
    border-top: 1px solid #646361;
}

.tc .content_write .write_divline {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #ebebeb;
}

.tc .content_write label {
    margin: 10px;
}
.tc .content_write span {
    margin-left: 10px;
}

.tc .content_write_input {
    display: block;
    overflow: hidden;
    text-align: left;
}

.tc .content_write_input h5 {
    width: 16%;
    float: left;
    overflow: hidden;
    margin: 18px 2% 15px 0;
    border-right: 1px solid #ebebeb;
    color: #000000;
    font-size: 17px;
    font-weight: 500;
}

.tc .content_write_input > input[type="radio"] {
    overflow: hidden;
    margin-left: 1%;
    padding: 13px 10px 13px 10px;
    font-size: 16px;
    font-weight: 300;
    border: none;
}

/* PET 선택 CSS */

.tc .pet_choice {
    display: flex;
    flex-wrap: wrap;
}

.tc .pet_choice li{
    float: left;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 170px;
    height: 150px;
    box-sizing: border-box;
    margin: 10px;
}

.tc .pet_choice img {
    width: 85px;
    height: 85px;
    background: transparent;
    opacity: 0.35;
    mix-blend-mode: multiply;
    margin: 5px;
}

.tc .pet_choice p {
    text-align: center;
    font-weight: bold;
    margin: 5px 0px;
    color: inherit;
}

.tc .pet_off {
    background-color: #f6f7f8;
    border: 5px solid #f6f7f8;
    color: #cfcece;
}

.tc .pet_off:last-child {
    margin-right: 0px;
}

.tc .pet_off:hover {
    border: 5px solid #d9d9d9;
    background: #f5f5f5;
    cursor: pointer;
}

/* 이미지 클릭 시 실행 */
.tc .pet_on {
    /* border: 5px solid #fcd11e; */
    border: 5px solid #FFEBC9;
    background-color: #ffffff;
    color: #090909;
}

.tc .pet_on:last-child {
    margin-right: 0px;
}

.tc .pet_on:hover {
    border: 5px solid #FFEBC9;
    background: #fff9ef;
    cursor: pointer;
    opacity: 0.6;
}

.tc .pet_on img {
    opacity: 0.8;
}

/* AGE 계산 CSS */

.tc .cal_info_box [type="radio"] {
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    transition: border 0.5s ease-in-out;
}

.tc .cal_info_box [type="radio"]:checked {
    border: 0.4em solid #803D3D;
}

.tc .cal_info_box [type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted #803D3D;
}

.tc .cal_info_box [type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) #d3d3d3;
    cursor: pointer;
}

.tc .cal_info_box [type="radio"]:disabled {
    background-color: lightgray;
    box-shadow: none;
    opacity: 0.7;
    cursor: not-allowed;
}

.tc .cal_info_box [type="radio"]:disabled + span {
    opacity: 0.7;
    cursor: not-allowed;
}

.tc .content_write_input > input[type="text"] {
    width: 60%;
    float: left;
    overflow: hidden;
    margin: 2.2% 1% 1% 2%;
    font-size: 16px;
    font-weight: 300;
    border: none;
}

.tc .cal_choice {
    overflow: hidden;
    height: 42px;
    text-align: left;
    margin: 8px 5px 5px 5px;
    border: 0px solid #000;
}

/* .tc .cal_choice .cal_type_checked {
    color: #fff !important;
    background: #E3B7A0 !important;
    font-size: 14px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    vertical-align: middle;
    padding-top:10px;  
} */

.tc .cal_choice input {
    width: 78%;
    float: left;
    overflow: hidden;
    font-size: 16px;
    font-weight: 300;
    border: none;
}

.tc .cal_choice > input[type="button"] {
    color: #cfcece;
    background: #f6f7f8;
    font-size: 14px;
    width: 115px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    vertical-align: middle;
    padding-top:11px;  
}

.tc .cal_choice > input[type="button"]:hover {
    color: #fff;
    background: #803D3D;
}

.tc .cal_btn {
    display: block;
    overflow: hidden;
    width: 100%;
    background-color: #fafafa;
}

.tc .cal_result {
    display: block;
    overflow: hidden;
    height: 50px;
    margin: 20px 36% 20px 36%;
    border-radius: 10px;
    background: #E3B7A0;
    padding: 10px 40px 16px 40px;
}

.tc .cal_result a {
    color: #fff !important;
    font-size: 20px;
}

.tc a {
    cursor: pointer;
    text-decoration: none !important;
}
.tc ol, ul {
    list-style: none;
}

.tc dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0 !important; 
}

.tc html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}

/* AGE 결과 CSS */
.tc .cal_result_age {
    display: block;
    overflow: hidden;
    text-align: center;
    margin: 5% auto;
    padding-top: 7px;
}

.tc .age_circle {
    display: inline-block;
    width: 120px;
    height: 120px;
    background: #D9D9D9;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

.tc .age_circle .age_img {
    display: block;
    text-align: center;
    padding-top: 25px;
}

.tc .age_circle .age_img img {
    width: 42%;
}

.tc .age_circle .age_number {
    display: block;
    font-size: 23px;
    color: #803D3D;
    font-weight: 500;
}

.tc .cal_result_age .age_same {
    display: inline-block;
    width: 50px;
}

.tc .cal_result_age .age_same img {
    width: 100%;
    vertical-align: 2px;
    padding-bottom: 5px;
}

.tc .age_lifecycle {
    display: block;
    padding: 2% 0 0 0;
    font-size: 26px;
    color: #803D3D;
    font-weight: 500;
}

.tc .cal_again {
    display: block;
    overflow: hidden;
    height: 50px;
    margin: 20px 36% 20px 36%;
    border-radius: 10px;
    background: #E3B7A0;
    padding: 10px 40px 16px 40px;
}

.tc .cal_again a {
    color: #fff !important;;
    font-size: 20px;
}
