* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: block;
}

.ul, li {
    list-style: none;
}

#container {
    position: relative;
    /* min-width: 980px; */
    overflow: hidden;
}

.header {
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    width: 100%;
    height: 100px;
/*    border: 1px solid black; */
    background-color: rgba(255,235,201,1);
}

.footer {
    position: relative;
    font-size: 30px;
    line-height: 200px;
    text-align: center;
    width: 100%;
    height: 200px;
/*    border: 1px solid black; */
    background-color: rgba(255,235,201,1);
}

#container .contents {
    position: relative;
    display: block;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    width: 100%;
    height: 100%;
    align-content: center;
    /* border: 1px solid black; */
}

#container .table {
    border-top: 2px solid #c0c0c0;
}

#container input[type=text] {
    padding-left: 5px;
    padding-right: 5px;
}

#container #align-center {
    position: absolute;
    left: 50%;
    margin-left: -185px;
}

#container #prodImageItems {
    /* border: 1px solid black; */
    float: left;
    width: 500px;
    height: 600px;
}

#container .carousel-images {
    background-size: cover;
}

#container div#carouselIndicators {
    width: 500px;
    height: 500px;
}

/* #container .prod-images-bar {
    display: inline-block;
    width: 500px;
    height: 150px;
    justify-content : center;
} */

#container .prod-images li {
    display: inline-block;
    margin-inline: 5px;
}

#container .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
}

#container .carousel-control-next-icon{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e")
}

#container .carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #e0e0e0;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.2);    
}

#container .carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 10px;
    background-color: #c0c0c0;
}

#container div#prodSummary {
    /* border: 1px solid black; */
    float: right;
    width: 500px;
    height: 600px;
}

#container .prod-brand {
    margin-top: 30px;
}

#container .sale-price {
    font-weight: 500;
    font-size: 28px;
}

#container .prod-total-price {
    display: flex;
    padding-right: 30px;
}

#container .qty {
    float: left;
}
/* 
#container .total-price-info {
    float: right;
} */

#container .total-price {
    float: right;
    margin-left: 10px;
    font-weight: 500;
    font-size: 28px;
}

#container .prod-summary-footer {
    display: block;
    float: left;
}

/* #container .tap-contents-info {
    width: 100%;
    position: fixed;
    overflow: auto;
    margin: 0 auto;
} */

/* #container .tap-contents-info {
    z-index: 100;
} */

#container .tap-contents {
    background-color: rgb(250, 250, 250);
}

#container .tap-contents>li {
    border: 1px solid rgb(238, 238, 238);
    background-color: rgb(250, 250, 250);
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 24.6%;
    cursor: pointer;
    padding: 15px 20px 15px;
}

#container .tap-contents>li>a {
    display: block;
    color:rgba(0, 0, 0, 0.8);
}

#container .top_bar_fix {
    position:fixed; 
    top:0; 
    left:0; 
    width:1060px;
    margin-left: 15%;
    margin-right: 15%;
}

#container .pd_top_80 {
    padding-top:80px;
}

#container #prodContent {
    text-align: center;
}

#container img[class^=img] {
    cursor: pointer;
    transition: 0.3s;
}

#container .modal {
    display: none; /* 모달창 숨겨 놓기 */
    position: fixed; 
    z-index: 1; /* 모달창을 제일 앞에 두기 */
    padding-top: 100px;
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: auto; /* 스크롤 허용 auto */
    cursor: pointer; /* 마우스 손가락모양 */
    background-color: rgba(0, 0, 0, 0.8);
}

#container .modal_content {
    margin: auto;
    display: block;
    width: 50%; height: auto;
    max-width: 1000px;
    border-radius: 10px;
    animation-name: zoom;
    animation-duration: 0.8s;
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

#container .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#container .close:hover, .close:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#container #prodReview, #prodQna {
    float: left;
    width: 100%;
    height: 100%;
    /* border-top: 1px solid black; */
    /* text-align: center;
    line-height: 500px; */
}

#container .user-img {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}

#container .review {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c0c0c0;
}

#container .review-content {
    cursor: pointer;
}

#container .btn {
    display: inline-block;
    text-align: center;
}

#container .table td {
    border-bottom: 1px solid #dee2e6;
}

#container .table th {
    text-align: center;
}

#container .pay-fin-msg {
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 28px;
    border-top: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
}

#container .cart-total-price {
    width: 100%;
    height: 100px;
    align-content: center;
    text-align: center;
    line-height: 90px;
    border: 2px solid #c0c0c0;
}

#container .pay-btn {
    width: 500px;
    height: 60px;
    display: block;
    margin: auto;
}

#container .cart-price {
    font-weight: 500;
    font-size: 24px;
}

#container .pay-delivery-info {
    margin-top: 30px;
}

#container .pay-delivery-info table td:first-child {
    text-align: right;
}

#container .pay-method-info table td:first-child {
    text-align: right;
}

#container .pay-method-info label {
    margin: 0;
}

#container .discount-point {
    padding-right: 50px;
}

#container .pay-fin-btn {
    width: 200px;
    height: 50px;
    display: inline-block;
    position: relative;
    margin: auto;
}

#container .align-center {
    position: relative;
    left: 37%;
}