@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GmarketSansMedium";
}
btnLoginBox .login body {
  background-color: #fff;
}

.login p {
  color: #b3b3b3;
  font-weight: 300;
}

.login a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

/* ID/PWD 찾기 버튼 */
.login forgot-pass:hover {
  text-decoration: underline;
}

.login .half a {
  color: #888;
}

/* 로그인 버튼 */
.login #btnLoin {
  color: white;
  background-color: #e3b7a0;
  border-style: none;
}

.login #btnLoin:hover {
  background-color: #d79771;
  font-weight: 700;
}

.login #kakaoLogin {
  color: white;
  background-color: #fce620;
}

.login #kakaoLogin:hover {
  background-color: #ffd600;
  font-weight: 700;
}

.login #naverLogin {
  color: white;
  background-color: #92de63;
}
.login #naverLogin:hover {
  background-color: #57b81b;
  font-weight: 700;
}

.login #btnJoinMember {
  color: white;
  background-color: #803d3d;
}

.login #btnJoinMember:hover {
  background-color: #d79771;
  font-weight: 700;
}
.login .content {
  padding: 7rem 0;
}

.login h2 {
  font-size: 20px;
}

.login .JoinMsg {
  padding-top: 40px;
  margin-bottom: 20px;
  display: block;
  color: #6b6b6b;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  clear: both;
  margin-top: 1px;
  text-align: left;
}

/* 배경 이미지 */
.login .half,
.half .container > .row {
  height: 100vh;
  min-height: 700px;
}

@media (max-width: 991.98px) {
  .login .half .bg {
    height: 200px;
  }
}

.login .half .contents {
  background: #f6f7fc;
}

.login .half .contents,
.half .bg {
  width: 50%;
}

@media (max-width: 1199.98px) {
  .half .contents,
  .half .bg {
    width: 100%;
  }
}
.login .half .contents .form-control,
.login .half .bg .form-control {
  border: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 54px;
  background: #fff;
}
.login .half .contents .form-control:active,
.login .half .contents .form-control:focus,
.login .half .bg .form-control:active,
.login .half .bg .form-control:focus {
  outline: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.login .half .bg {
  background-size: cover;
  background-position: center;
}

/* 버튼 */
.login .half .btn {
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

/* Forgot ID/Pwd & Remember me */
.half .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px;
}

.login .control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
}
.login .control .caption {
  position: relative;
  top: 0.2rem;
  color: #888;
}

.login .control--radio .control__indicator {
  border-radius: 50%;
}

/* .control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
} */

/* Remember me */

.login .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.login .control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px;
}

.login .control input:checked ~ .control__indicator {
  background: #d79771;
}

.login .control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #d79771;
}

.login .control__indicator:after {
  font-family: "icomoon";
  content: "\e5ca";
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.login .control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none;
}

.login .control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff;
}

.login .control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login .control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

/* .control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: 0.2;
} */
